*{
  color: rgb(236, 246, 237);
}

a{
  color: rgb(7, 246, 182);
}

.wrapper{
  background-color: rgb(26, 3, 84);
  padding: 15px;

}

.header{
  background-color: red;
  height:50px;
  padding: 15px;
  border-radius: 15px;
}

.navigation{
  background-color: rgb(7, 102, 115);
  display:inline-block;
  padding:15px;
  vertical-align: top;
  margin-top:20px;
  margin-right: 15px;
  border-radius: 15px;
}

.main_content{
  background-color: black;
  display:inline-block;
  width: 940px;
  vertical-align: top;
  margin-top:20px;
  padding: 15px;
  border-radius:15px;
}

.footer{
  background-color: rgba(93, 91, 89, 0.79);
  padding: 5px;
  margin-top: 15px;
  border-radius:15px;
}

.liste{
  margin: 0 0 10px 0;
}

span{
  color: rgb(13, 52, 190);
}
